html,
body {
  background: white;
  font-size: 0.85rem;
}

tr,
th {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

td {
  padding: 0.5rem 0.45rem !important;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}



.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.outlet {
  background-color: white;
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 100px;
}


.navbar-icon:hover {
  color: rgba(255, 193, 7, 1) !important;
  transition: 0.3s ease-in-out;
  transform: scale(1.1) !important;
  position: relative !important;
}

.navbar-container {
  border-radius: 1.1rem 1.1rem 0 0;
  margin: 0 0rem;
  border-top: 1px solid black;
  background-color: black;
}

.navbar-items {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem;
}

.search-form {
  width: 90%;
}


.nocursor {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}


.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-sheet {
  width: 100% !important;
  margin: 0 auto;
  border-radius: 0.5rem 0.5rem 0 0;
}

.sheet-thumb-box {
  width: 100px;
  height: 100px;
  cursor: pointer;
  user-select: none;
}

.sheet-thumb {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.4rem;
  object-fit: cover;
}

.img-hover-wrapper {
  position: relative;
  overflow: hidden;
}

.img-hover-wrapper img {
  transition: 0.3s ease;
}

.img-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: 0;
  opacity: 0;
  transition: 0.3s ease;
  cursor: crosshair;
}

.img-hover-wrapper:hover img {
  filter: brightness(0.4);
}

.img-hover-wrapper:hover .img-overlay {
  opacity: 1;
}


.orders-img-profile {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.orders-img-product {
  width: 55px;
  height: 55px;
  aspect-ratio: 1/1;
}

.orders-detail-product {
  width: 55px;
  height: 100%;
}